@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron col-md">
    <h1>Welcome to University</h1>
</div>
<div class="row">
    <div class="col-md">
      
        <img src="https://www.lancaster.ac.uk/media/lancaster-university/content-assets/images/alumni/new-alumni-website/LUJMedical02.jpg" class="university-welcome" />
        
    </div>
   
    
</div>