@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    A privacy policy is a legal requirement in almost every country in the world. As of November 2016, over 100 countries had existing data protection laws, with another forty currently in the process of enacting legislation. While the specific requirements vary by country, most have common features, such as how data will be protected.
    As the nature of the internet means that websites may be accessed and utilized by people anywhere in the world, privacy policies need to meet the major standards, such as those required in Europe and the United States.
    In Europe, those countries which form part of the European Economic Area (EEA) are required to meet seven principles.
    These principles require that the data collected be limited to only that which is entirely necessary for the purpose of the site; how individuals may access their data; how the information is protected; and the accountability of the data collector.
</p>
<br>
<p>As of May 2016, the General Data Protection Regulations (GDPR) became law across the EEA, standardizing the regulations across the entire region. Any organization whose website is available in Europe will be required to meet the GDPR, regardless of where in the world it is registered, including Canada and the USA.</p>
<br />
<p><b>Privacy Policy</b></p>
<br />
<p>Last updated: 24.07.2020</p>
<br />
<p>My Company ContosoUniversity. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
<br />
<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
<br />
<p><b>Information Collection And Use</b></p>
<br />
<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
<div class="row">
    <div class="col-md">

        <img src="https://websitepolicies.gumlet.io/uploads/4/5/2/4/hV7bMrSvaJXS2mShYQTr.jpg"  />

    </div>


</div>